@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This change is done fromaweygrearash
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Welcome to Xev Leashed</a>.</p>
</div>
